.experiencia__titulo {
  color: var(--c-03);
  max-width: 4ch;
}

.experiencia__infos {
  gap: 3.75rem;
  align-content: start;
}

.experiencia__bio {
  max-width: 35rem;
}

.experiencia__lista {
  gap: 1.25rem;
}

.experiencia__item {
  grid-template-columns: 4fr 3fr;
  position: relative;
  gap: 0.625rem 4.6875rem;
  background-color: var(--c-01);
  border: 0.0625rem solid var(--c-02);
  border-radius: 0.3125rem;
  padding: 1.25rem;
}

.experiencia__item::before {
  content: "";
  width: 0.25rem;
  height: 1.25rem;
  background: var(--gradiente-detalhe);
  position: absolute;
  top: 1.25rem;
  left: -4px;
}

.experiencia__ano {
  position: absolute;
  left: -6.25rem;
  top: 22px;
  font: var(--texto-data);
  color: var(--c-10);
  text-align: end;
  width: 8ch;
}

.experiencia__projeto,
.experiencia__cargo {
  font: var(--titulo-item);
  color: #000000;
}

.experiencia__info {
  font: var(--texto-item);
  max-width: 20.3125rem;
  min-height: 4.375rem;
}

.experiencia__tec {
  gap: 0.625rem;
  flex-wrap: wrap;
  align-items: start;
}

.experiencia__tec > span {
  color: var(--c-13);
  font-size: 0.875rem;
  display: inline-block;
  background-color: #ffffff;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
}

@media (max-width: 62.5rem) {
  .experiencia__titulo {
    font-size: 2.5rem;
    color: var(--c-13);
    max-width: initial;
  }

  .experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 2.5rem;
  }

  .experiencia__bio {
    font-size: 1.25rem;
    max-width: initial;
  }

  .experiencia__infos {
    gap: 2.5rem;
  }

  .experiencia__ano {
    position: initial;
    order: 1;
    text-align: start;
    margin-top: 1.25rem;
  }
}

@media (max-width: 50rem) {
  .experiencia {
    padding: 60px 40px;
  }

  .experiencia__item {
    grid-template-columns: 1fr;
    gap: 0.3125rem;
  }

  .experiencia__cargo {
    font-size: 1rem;
    color: var(--c-07);
    margin-bottom: 1.25rem;
  }

  .experiencia__ano {
    margin-top: 10px;
  }
}
